/* version=1.96.0 */
.cds--page-header {
  background-color: var(--cds-layer-01, #f4f4f4);
  -webkit-border-after: 1px solid var(--cds-border-subtle-01, #c6c6c6);
  border-block-end: 1px solid var(--cds-border-subtle-01, #c6c6c6);
}

.cds--page-header__breadcrumb-bar {
  block-size: 2.5rem;
}

.cds--page-header__breadcrumb-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  block-size: 100%;
  inline-size: 100%;
}

.cds--page-header__breadcrumb-bar-border {
  -webkit-border-after: 1px solid var(--cds-border-subtle-01, #c6c6c6);
  border-block-end: 1px solid var(--cds-border-subtle-01, #c6c6c6);
}

.cds--page-header__breadcrumb__icon {
  -webkit-margin-end: .5rem;
  margin-inline-end: .5rem;
}

.cds--page-header__breadcrumb__actions {
  display: inline-flex;
}

.cds--page-header__breadcrumb__content-actions {
  -webkit-margin-end: .75rem;
  margin-inline-end: .75rem;
}

.cds--page-header__breadcrumb-wrapper {
  display: inline-flex;
}

.cds--page-header__content {
  padding: 1.5rem 0;
}

@media(max-width: 41.98rem) {
  .cds--page-header__content__title-wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
  }
}

.cds--page-header__content__title-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto minmax(var(--pageheader-title-grid-width, 0), 1fr);
  -webkit-margin-after: 1rem;
  margin-block-end: 1rem;
  min-block-size: 2.5rem;
}

.cds--page-header__content__start {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cds--page-header__content__title-container {
  display: flex;
}

.cds--page-header__content__title-container .cds--definition-term {
  -webkit-border-after: none;
  border-block-end: none;
}

.cds--page-header__content__contextual-actions {
  display: flex;
}

.cds--page-header__content__title {
  font-size: var(--cds-productive-heading-04-font-size, 1.75rem);
  font-weight: var(--cds-productive-heading-04-font-weight, 400);
  line-height: var(--cds-productive-heading-04-line-height, 1.28572);
  letter-spacing: var(--cds-productive-heading-04-letter-spacing, 0);
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-inline-size: 40rem;
  text-overflow: ellipsis;
  white-space: normal;
}

.cds--page-header__content:has(.cds--page-header__content__contextual-actions) .cds--page-header__content__title {
  -webkit-line-clamp: 1;
}

.cds--page-header__content__icon {
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}

.cds--page-header__content__page-actions {
  display: flex;
  justify-content: right;
}

@media(max-width: 41.98rem) {
  .cds--page-header__content__page-actions {
    justify-content: left;
    -webkit-margin-before: 0;
    margin-block-start: 0;
  }
}

.cds--page-header__content__subtitle {
  font-size: var(--cds-productive-heading-03-font-size, 1.25rem);
  font-weight: var(--cds-productive-heading-03-font-weight, 400);
  line-height: var(--cds-productive-heading-03-line-height, 1.4);
  letter-spacing: var(--cds-productive-heading-03-letter-spacing, 0);
  -webkit-margin-after: .5rem;
  margin-block-end: .5rem;
}

.cds--page-header__content__body {
  font-size: var(--cds-body-01-font-size, 0.875rem);
  font-weight: var(--cds-body-01-font-weight, 400);
  line-height: var(--cds-body-01-line-height, 1.42857);
  letter-spacing: var(--cds-body-01-letter-spacing, 0.16px);
  -webkit-margin-before: .5rem;
  margin-block-start: .5rem;
  max-inline-size: 40rem;
}

.cds--page-header__hero-image {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;
  block-size: 100%;
}

.cds--page-header__tab-bar {
  -webkit-margin-start: -1rem;
  margin-inline-start: -1rem;
}

.cds--page-header__tab-bar--tablist {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: auto minmax(0, 1fr);
}

.cds--page-header__tags {
  display: flex;
  align-items: center;
  justify-content: right;
}

.cds--page-header__tags-popover-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.cds--page-header__tag-item {
  flex-shrink: 0;
}
